<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--     <meta name="description" content="" />
    <meta name="author" content=""/> -->

    <title><%= title %></title>
    <link rel="icon" type="text/css" href="/images/isolatedCrane.jpg">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- FancyBox StyleSheet CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery/fancybox.min.css">
    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
   
    <!-- SCRIPTS: -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- CKEditor JS -->
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <!-- Local CSS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery/fancybox.min.js"></script> 
    <!-- Main (local js) JS -->
    <script type="text/javascript" src="/js/main.js"></script>
  </head>

  <body class="user-container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <!-- navbar-fixed-top -->
      <a class="navbar-brand" href="/">
        <img src="/images/isolatedCrane.jpg" width="30" height="30" class="d-inline-block align-top" alt="CMSCc Logo"/>
        CMSCc
      </a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <% pages.forEach(function(page) { %>
        <% if (page.slug === "home") { %>
          <li class="nav-item active">
            <a class="nav-link capitalize-text" href="/"><%= page.title.replace(/\-+/g, " ") %></a>
          </li>
        <% } else { %>
          <li class="nav-item active">
            <!-- page slug === categorySlug link -->
            <a class="nav-link capitalize-text" href="/<%= page.slug %>"><%= page.title.replace(/\-+/g, " ") %></a>
          </li>
        <% } %>  
        <% }); %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Meet Us
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/about">Who We are</a>
              <a class="dropdown-item" href="/mission">Our Company Mission</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/contact/">Contact Us</a>
            </div>
          </li>
        </ul>
        <ul navbar-nav navbar-right>
          <li>
            <a href="/cart/checkout">My Cart
              <% if (typeof cart !== "undefined") { %>
                 <% cart.length %> 
                 <% } else { %>
                 items: 0
               <% } %>  
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid text-center justify-content-center">
      <h1> <%- messages("messages", locals) %></h1>

      <div class="row justify-content-center">
        <h1 class="user-h1 col-xs-12">Welcome to CMS Construction.Co</h1>
      </div>
      <br/>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h3 class="text-white">Categories</h3>

          <ul class="list-group">
            <li class="list-group-item">
              <a href="/products">All Products</a>
            </li>

            <% categories.forEach(function(category) { %>
            <li class="list-group-item">
              <a class="capitalize-text" href="/products/<%= category.slug %>"><%= category.title.replace(/\-+/g, " ") %></a>
            </li>
            <% }); %>
          </ul>
        </div>
<!--         <div class="col-xs-12"></div>
        <div class="col-xs-12 col-md-8 offset-col-md-3"></div> -->